<%= link_to "취소하고 뒤로가기", :back, class: 'btn btn-danger btn-md' %>

<hr>

<h2>내 정보 수정</h2>

<hr>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nickname, label: "닉네임", required: true, autofocus: true %>

    <%= f.input :password, label: "새 비밀번호",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation, label: "새 비밀번호 재입력",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password, label: "현재 비밀번호",
                hint: "정보를 수정하기 위해서 현재 사용하시는 비밀번호가 필요합니다.",
                required: true,
                input_html: { autocomplete: "current-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "수정", class: 'btn btn-primary btn-md' %>
  </div>
<% end %>

<hr>
<%#
<small>? <%= link_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></small><br />
