<h2>로그인</h2>

<%= render "devise/shared/links" %>

<hr>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, label: "이메일",
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password, label: "비밀번호",
                required: false,
                input_html: { autocomplete: "current-password" } %>

    <%# <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <br>

  <div class="form-actions">
    <%= f.button :submit, "로그인", class: 'btn btn-primary btn-md btn-block' %>
  </div>
<% end %>

<hr>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name), class: 'btn btn-outline-primary btn-md' %><br />
<% end %>

