<% if @post.errors.any? %>
  <p class="errors">
    There was an error while trying to create the event.
  </p>
<% end %>

<%= form_with(model: post, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :title, "Title (required)" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description, "Description (required)" %>
    <%= f.rich_text_area :description %>
  </div>

  <%= f.submit "POST IT", class: "btn btn-primary btn-sm" %>
<% end %>
