<small>*: Required</small>

<p class="errors">
  <%= @post.errors.full_messages.first if @post.errors.any? %>
</p>

<%= form_with(model: post, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :category, "Categories*" %>
    <%= f.collection_select(:category_id, Category.all, :id, :name, {:prompt => 'Select'}, {:class => "form-control"}) %>
  </div>

  <div class="form-group">
    <%= f.label :title, "Title*" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description, "Description*" %>
    <%= f.rich_text_area :description %>
  </div>

  <%= f.submit "Post", class: "btn btn-primary btn-sm" %>
<% end %>
