<div style="display: flex; justify-content: center">
  <%= paginate @posts %>
</div>

<%# Filter By a Category %>
 <div class="form-group">
    <%= form_tag(posts_path, method: :get) do %> 
      <%= select_tag "category_name", options_from_collection_for_select(@categories.order("name ASC"), "name", "name", params[:category_name]), class: 'form-control' %>
      <button class="btn btn-outline-info btn-md btn-block" type="submit">필터</button>
    <% end %>
  </div>

<%# List of Posts %>
<ul class="list-group list-group">
  <% @posts.each do |post| %>
  <li class="list-group-item">
    <%= link_to post.title, post %>

    <p style="margin-top: 5px"><%= post.created_at.getlocal.strftime("%m. %d. %Y. %l:%M %p") %></p>
    

    <%# Edit & Delete Buttons %>
    <% if current_user === post.user %>
      <div class="btn-group" role="group">
          <%= link_to '수정', edit_post_path(post), class: 'btn btn-warning btn-sm' %>
          <%= link_to '삭제', post, method: :delete, data: { confirm: '삭제된 글은 복구가 되지 않습니다. 계속 하시겠습니까?' }, class: 'btn btn-danger btn-sm' %>
      </div>
    <% end %>

    <%# Avilable Group Link Icons %>
    <div class="float-right">
    <% if !post.telegram.blank? %>
      <%= link_to "#{post.telegram}" do %>
        <i class="fab fa-telegram fa-lg" style="margin: 0 6px"></i>
      <% end %>
    <% end %>

    <% if !post.whatsapp.blank? %>    
      <%= link_to "#{post.whatsapp}" do %>
        <i class="fab fa-whatsapp fa-lg" style="margin: 0 6px"></i>
      <% end %>
    <% end %>

    <% if !post.discord.blank? %>
      <%= link_to "#{post.discord}" do %>
        <i class="fab fa-discord fa-lg" style="margin: 0 6px"></i>
      <% end %>
    <% end %>

    <% if !post.slack.blank? %>
      <%= link_to "#{post.slack}" do %>
        <i class="fab fa-slack fa-lg" style="margin: 0 6px"></i>
      <% end %>
    <% end %>

    <% if !post.others.blank? %>
      <%= link_to "#{post.others}" do %>
        <i class="fas fa-comments fa-lg" style="margin: 0 6px"></i>
      <% end %>
    <% end %>
    </div>
  </li>
  <% end %>
</ul>

<div style="display: flex; justify-content: center">
  <%= paginate @posts %>
</div>
