<div style="display: flex; justify-content: center">
  <%= paginate @posts %>
</div>

 <div class="form-group">
    <%= form_tag(posts_path, method: :get) do %> 
      <%= select_tag "category_name", options_from_collection_for_select(@categories, "name", "name", params[:category_name]), class: 'form-control' %>
      <button class="btn btn-primary btn-sm btn-block" type="submit">Go</button>
    <% end %>
  </div>

<ul class="list-group list-group">
  <% @posts.each do |post| %>
  <li class="list-group-item">
    <%= link_to post.title, post %> 

  <p>Updated <%= time_ago_in_words(post.updated_at) %> ago by <%= post.user.nickname %></p>

    <% if current_user === post.user %>
      <div class="btn-group" role="group">
          <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-warning btn-sm' %>
          <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
      </div>
      <% end %>

      <%# <button class="btn btn-info btn-sm float-right">저장</button> %>
  </li>
  <% end %>
</ul>

<div style="display: flex; justify-content: center">
  <%= paginate @posts %>
</div>
