<div class="btn-group" role="group">
  <%= link_to 'Back', posts_path, class: 'btn btn-primary btn-sm' %>
  <% if current_user === @post.user %>
    <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-warning btn-sm" %>
    <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
  <% end %>
</div>
<button class="btn btn-info btn-sm float-right">Bookmark</button>

<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= @post.title %></h5>
    <p class="card-subtitle mb-2 text-muted">
      By <%= @post.user.nickname %> on <%= @post.created_at.strftime("%B %d, %Y") %>
    </p>
    <p class="card-text">
      <%= @post.description %>
    </p>

    <p class="card-subtitle mb-2 text-muted">
      Updated <%= time_ago_in_words(@post.updated_at) %> ago
    </p>
  </div>

  <hr>

<div class="container">
    <%= form_for [@post, Comment.new] do |f| %>
      <div class="form-group">
        <%= f.text_area :body, placeholder: "Enter here", class: 'form-control' %>
        <%= f.submit "Add a Comment", class: 'btn btn-primary btn-sm' %>
      </div>
    <% end %>

<hr>
  <%= render(partial: 'comments/comment', collection: @post.comments.order(created_at: :desc)) %>

</div>