<div class="btn-group" role="group">
  <%= link_to '모든 글 보기', posts_path, class: 'btn btn-primary btn-md' %>
  <% if current_user === @post.user %>
    <%= link_to '수정', edit_post_path(@post), class: "btn btn-warning btn-md" %>
    <%= link_to '삭제', @post, method: :delete, data: { confirm: '삭제된 글은 복구가 되지 않습니다. 계속 하시겠습니까?' }, class: 'btn btn-danger btn-md' %>
  <% end %>
</div>
<%# <button class="btn btn-info btn-md float-right">내 페이지에 저장</button> %>

<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= @post.title %></h5>
    <p class="card-subtitle mb-2 text-muted">
      작성자: <%= @post.user.nickname %>
    </p>
    <p class="card-subtitle mb-2 text-muted">
      <%= @post.created_at.getlocal.strftime("%m. %d. %Y. %l:%M %p") %>
    </p>

<div style="margin-bottom: 80px">
    <p class="card-text">
      <%= @post.description %>
    </p>
</div>

      <hr>

      <%# Group Chat Links %>
      <h6>그룹 챗 링크</h6>      
      <div style="margin-bottom: 3px;">
      <% if !@post.others.blank? %>
        <%= link_to "#{@post.others}", class: 'btn btn-primary btn-md' do %> 
          <i class="fas fa-comments fa-lg" aria-hidden="true"></i> (카카오톡)
        <% end %>
      <% end %>
      </div>      

      <div style="margin-bottom: 3px;">
        <% if !@post.telegram.blank? %>
          <%= link_to "#{@post.telegram}", class: 'btn btn-primary btn-md' do %>
            <i class="fab fa-telegram fa-lg" aria-hidden="true"></i> (텔레그램)
          <% end %>
        <% end %>
      </div>

      <div style="margin-bottom: 3px;">
      <% if !@post.whatsapp.blank? %>
        <%= link_to "#{@post.whatsapp}", class: 'btn btn-primary btn-md' do %>
          <i class="fab fa-whatsapp fa-lg" aria-hidden="true"></i> (왓츠앱)
        <% end %>
      <% end %>
      </div>

      <div style="margin-bottom: 3px;">
      <% if !@post.discord.blank? %>
        <%= link_to "#{@post.discord}", class: 'btn btn-primary btn-md' do %>
          <i class="fab fa-discord fa-lg" aria-hidden="true"></i> (디스코드)
        <% end %>
      <% end %>
      </div>

      <div style="margin-bottom: 3px;">
      <% if !@post.slack.blank? %>
        <%= link_to "#{@post.slack}", class: 'btn btn-primary btn-md' do %> 
          <i class="fab fa-slack fa-lg" aria-hidden="true"></i> (슬랙)
        <% end %>
      <% end %>
      </div>

  </div>
</div>