<!DOCTYPE html>
<html>
  <head>
    <title>Hanvando</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
  <%= render 'layouts/navbar' %>

  <div class="container" style="margin-bottom: 50px">
  
  <% unless notice.nil? %>
    <p class="notice" style="color: blue; margin-top: 10px"><%= notice %></p>
  <% end %>

  <% unless alert.nil? %>
    <p class="alert" style="color: red; margin-top: 10px"><%= alert %></p>
  <% end %>

  <div style="margin-top: 50px">
    <%= yield %>
  </div>

  </div>
  </body>
</html>